numpy>=1.23.5
pandas>=1.5.2
scanpy>=1.9.1
anndata2ri>=1.1
networkx>=2.6.3
scikit-learn>=1.2.0
rpy2>=3.5.6
scipy>=1.9.3
loguru>=0.6.0
anndata>=0.8.0
matplotlib>=3.6.2
hdbscan>=0.8.29
besca>=2.5.3
leidenalg>=0.9.1
triku>=2.1.4
lightgbm>=3.3.3
scGeneFit>=1.0.2
xgboost>=1.7.1
statsmodels>=0.13.5
rich>=12.6.0
packaging>=22.0
scib>=1.1.1
harmonypy>=0.0.6
sc3s>=0.1.1