anndata~=0.7.6
numpy~=1.18.1
pandas~=1.2.3
scanpy~=1.7.2
sklearn~=0.0
scikit-learn~=0.24.1
rbo~=0.1.2
matplotlib~=3.4.1
seaborn~=0.11.1
scgen~=2.0.0
lightgbm~=3.2.1
xgboost~=1.4.2
ItClust~=0.0.5
tensorflow~=1.14.0
scipy~=1.4.1
scGeneFit~=1.0.2